// @import "//node_modules/@glidejs/glide/src/assets/sass/glide.core.scss";
// @import "//node_modules/@glidejs/glide/src/assets/sass/glide.theme.scss";

// html, body {
//   max-width: 100%;
//   padding: 0;
//   margin: 0;
 
// }

* {
  font-family: 'Share', cursive;
  overflow-x: hidden;
p{
  font-weight: lighter;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
}
html {
  // your css to create a cover image 
  
  padding: env(safe-area-inset); // <- this is the missing piece. Add it.
}
nav {
background-color: black;
}

.intro {
 width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/img/laptop.png');
  // background-color: black;
height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: blur 1s ease-in-out;
}
@keyframes blur {
  0%{
  opacity: 0.2;
  
  }
  25% {
    opacity: 0.3;
  }
  
  50% {
    opacity: 0.6;
  }
  
  75% {
    opacity: 0.9;
  }
  
  100%{
    opacity: 1;
  
  }
  }

  
  
  
    
  

@media (min-width:320px) {
  .card {
    
    width: 20rem; 
    height: 14rem;

  }
}

@media (min-width: 768px) {
  .card {
    
    width: 22rem; 
    height: 15rem;

  }
}

main {
  background-color: black;
  .card {
    background-color: rgba(0, 0, 0, 0.7);
    // border: solid 2px grey;
    animation: fade 2s ease-in;
  }
}

.cv {
  position: absolute;
  top: 30px;
  right: 30px;
}



.glide {
display: flex;
justify-content: center;
padding-bottom: 20px;
img {
 margin: auto;
  width: 80%;
  height: 100%;
  border: solid 2px whitesmoke;
  border-radius: 10px;
  
}

#form img {
  object-fit: cover;
}
img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.glide__arrow {
  color: black;
  background-color: whitesmoke;
}

}
.language {
  border-radius: 15px;
  border: solid 1px whitesmoke;
  padding: 2px;
}

.phonemail {
  a {
    text-decoration: none;
    color: whitesmoke;
  }
}

.modal a {
  text-decoration: none;
}

.foot {
a {
  text-decoration: none;
  color: whitesmoke;
}}

@keyframes fade {
0%{
background-color: rgba(0, 0, 0, 0.0);

}
25% {
  background-color: rgba(0, 0, 0, 0.2);
}

50% {
  background-color: rgba(0, 0, 0, 0.4);
}

75% {
  background-color: rgba(0, 0, 0, 0.6);
}

100%{
background-color: rgba(0, 0, 0, 0.7);

}
}