// @import "//node_modules/@glidejs/glide/src/assets/sass/glide.core.scss";
// @import "//node_modules/@glidejs/glide/src/assets/sass/glide.theme.scss";

// html, body {
//   max-width: 100%;
//   padding: 0;
//   margin: 0;
 
// }
nav {
background-color: black;
}

.intro {
 width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/img/laptop.png');
  // background-color: black;
height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



main {
  background-color: black;
  .card {
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 2px grey;
    animation: fade 2s ease-in;
  }
}

.cv {
  position: absolute;
  top: 30px;
  right: 30px;
}


.projects,
.contact{
  padding-top: 20px;
  
}

.glide {

img {
  width: 100%;
  height: 300px;
  border: solid 1px grey;
}
img:hover {
  opacity: 1;
}
}


.contact {

word-wrap: break-word;
}


@keyframes fade {
0%{
background-color: rgba(0, 0, 0, 0.1);

}
25% {
  background-color: rgba(0, 0, 0, 0.2);
}

50% {
  background-color: rgba(0, 0, 0, 0.4);
}

75% {
  background-color: rgba(0, 0, 0, 0.6);
}

100%{
background-color: rgba(0, 0, 0, 0.7);

}
}